article{
    width: 100%;
    padding: 1.5rem;
    .container-avatar{
        width: 5rem;
        margin-right: 1.2rem;
        img{
            width: 100%;
        }
    }
    .container-touit{

        img{
            width: 20px;
        }
    }
}