<article class="flex-row" [ngClass]="inModal ? 'noBorder':''">
    <div class="container-avatar">
       <img src="{{avatar?.avatar}}"/>
       <hr *ngIf="inModal"/>
    </div>
    <div class="container-touit">
        <h3>{{touit.name}} - <span>{{touit.ts  | date:'dd/MM/yyyy HH:mm'}}</span></h3>
        <p class="message" (click)="seeMore()" [innerHtml]="touit.message|checkMusic" [play-music]="musics"></p>
        <ng-container *ngIf="musics?.length > 0">
            <app-music *ngFor="let music of musics" [music]="music"></app-music>
        </ng-container>
        <div class="flex-row flex-between" [ngClass]="inModal ? 'hide':''">
            <div class="comments flex-row flex-center" modal-trigger="addComment" (click)="openModal()">
                <img src="/assets/svg/comments-regular.svg" alt="comments"/>
                <span>{{touit.comments_count}}</span>
            </div>
            <div class="like flex-row flex-center" (click)="changeLike()">
                <img src="/assets/svg/heart-regular.svg" alt="likes" [hidden]="touit.isLiked"/>
                <img [hidden]="!touit.isLiked" src="/assets/svg/heart-solid.svg" alt="likes"/>
                <span>{{touit.likes}}</span>
            </div>
            <div *ngIf="user?.username" class="retouit flex-row flex-center" (click)="retouit()">
                <img src="/assets/svg/retweet-solid.svg" alt="retouitter"/>
            </div>
        </div>
    </div>
</article>
