section{
    width: 100%;
    max-width: 600px;
    padding: 1.5rem;
    border:1px solid var(--border-color); 
    border-bottom: none;
    &.noBorder{
        border:none;
    }
    .container-avatar{
        width: 10%;
        margin-right: 1.2rem;
        img{
            width: 100%;
            border-radius: 50%;
            background-color: #00ba7ccf;
        }
    }
    .container-write{
        width: 90%;
        form{
            width: 100%;
            textarea{
                width: 100%;
                background-color: var(--black);
                border: none;
                color: var(--color-txt-white);
                &::placeholder{
                    color: var(--color-txt-grey);
                    font-size: 1.2em;
                }
                &:focus{
                    outline: 1px solid var(--green);
                }
            }
            button{
                margin-left: auto;
                display: block;

            }
        }
    }
}