section{
    width: 100%;
    padding: 1.5rem;
    border: 1px solid var(--border-color);
    border-bottom: none;
    max-width: 600px;
    form{
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap:0 1rem;
        .flex-row{
            align-items: center;
        }
        .flex-row:first-child { grid-area: 1 / 1 / 2 / 2; }
        .flex-row.pass { grid-area: 2 / 1 / 3 / 2; }
        .form-group.flex-column { grid-area: 1 / 2 / 3 / 3; }
    
        label{
            width: 30%;
            text-align: right;
            margin-right: 1rem;
        }
        input{
            width: 60%;
            margin-right: auto;
            background-color: var(--grey);
            border: 1px solid rgb(0,0,0);
            border-radius: 15px;
            padding: 0.5rem;
            color: var(--color-txt-white);
            &:focus,&::selection{
                border-color: var(--green);
                outline: var(--green);
            }
        }
        // button{
        //     background-color: var(--green);
        //     color: var(--color-txt-white);
        //     font-weight: 700;
        //     text-align: center;
        //     border-radius: 15px;
        //     padding: .5rem;
        //     border: 1px solid rgb(0,0,0);
        // }
        // button:hover{
        //     background-color: var(--green-hover);
        // }
    }

}