article{
    width: 100%;
    background-color: var(--grey);
    margin-top: 1rem;
    border-radius: 10px;
    padding:1rem 0 0 0;
    
    .one-trend{
        padding:  1rem;
        cursor: pointer;
        &:first-child{
            padding-top:.5rem;
        }
        &:last-child{
            padding-bottom: 1.5rem;
        }
        &:hover{
            background-color: rgba(255,255,255,.03);
        }
    }
    h2{
        margin: 0 1rem;
    }
    h3{
        margin: 0;
    }
    p{
        margin-top: 0;
        color: var(--color-txt-grey);
        
    }
    .sponsor{
        margin-top:-.7em;
    }
    img{
        width: 20px;
        margin-right: 0.5rem;
    }
    button.see-more{
        all: initial;
        color: var(--green);
        width: 100%;
        font-size: 1.2rem
    }
    
}

