main{
    justify-content: center;
}

aside.oups{
    margin-top:3rem;
    width: 350px;
    height: 100vh;
    &:last-child{
        margin-left: 1rem;
    }
    &:first-child{
        margin-right: 1rem;
    }
}

.go-top{
    position: fixed;
    bottom: 0;
    font-size: 2.5rem;
    right: 12rem;
    cursor: pointer;
    span{
        font-size: .7rem;
    }
}