<main class="flex-row">
    <aside class="oups">
        <app-music></app-music>
        <app-user-dialog></app-user-dialog>
    </aside>
    <div>
        <app-user *ngIf="!isConnected" ></app-user>
        <app-write *ngIf="isConnected" [placeholder]="'Quoi de neuf ?'" [isTouit]="true"></app-write>
        <app-touit-list></app-touit-list>
    </div>
    <aside class="oups">
        <app-search-bar></app-search-bar>
        <app-trendy-touit></app-trendy-touit>
        <app-influencers></app-influencers>
    </aside>
</main>
<div class="go-top" (click)="goTop()">⬆<span>en haut</span></div>