<main class="flex-row">
    <aside class="oups">
        <p>TODO</p>
        <ul>
            <!-- <li>Supp. Double instance service</li> -->
            <!-- <li>Ajout. wordSearch => stateService</li>
            <li>Ajout. section "commentaires" => click touit</li> -->
            <li>Ajout. section "suggestion" => influenceurs</li>
            <!-- <li>Ancre "retour en haut"</li> -->
            <li>Ancre - profil</li>
        </ul>
    </aside>
    <div>
        <app-user *ngIf="!isConnected" ></app-user>
        <app-write *ngIf="isConnected" [placeholder]="'Quoi de neuf ?'" [isTouit]="true"></app-write>
        <app-touit-list></app-touit-list>
    </div>
    <aside class="oups">
        <app-search-bar></app-search-bar>
        <app-trendy-touit></app-trendy-touit>
    </aside>
</main>
<div class="go-top" (click)="goTop()">⬆<span>en haut</span></div>