<article class="flex-row" >
    <div class="container-avatar">
        <hr *ngIf="first" class="inverse"/>
       <img src="{{avatar?.avatar}}"/>
       <hr *ngIf="!last"/>
    </div>
    <div class="container-touit">
        <h3>{{comment.name}} - <span>{{comment.ts  | date:'dd/MM/yyyy HH:mm'}}</span></h3>
        <p [innerHtml]="comment.comment|checkMusic" [play-music]="musics"></p>
        <ng-container *ngIf="musics?.length > 0">
            <app-music *ngFor="let music of musics" [music]="music"></app-music>
        </ng-container>
    </div>
</article>
